<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
<body>
  <header>
    <nav>
      <div class="parte 1">
        <img src="https://th.bing.com/th/id/OIP.EE1ztuRpmeI1IUij3dwPfAHaDt?pid=ImgDet&rs=1.png" style="width: 125px;" class="logo"></img>
        <div class="links">
              <a  href="/">Principal -</a>
              <a  href="/produtodes" >Produto Destaque</a>
        </div>
      </div>
    </nav>
  </header>

  <div class="container">

<div class="Produtos">
<h1>Monitor</h1>
<img src="https://images.kabum.com.br/produtos/fotos/115385/monitor-gamer-husky-hailstorm-led-31-5-widescreen-curvo-fhd-hmdi-dp-165hz-1ms-freesync-mo-hhs-32c_1608647420_g.jpg" alt="">
<p class="f">Preço: R$ 1.159,99</p>
<button class="btn"><p >Aperte</p></button>
</div>

<div class="Produtos">
  <h1>Mouse Gamer HyperX</h1>
<img src="https://images.kabum.com.br/produtos/fotos/95566/95566_1522950995_index_g.jpg" alt="">
<p class="f">Preço: R$ 109,99</p>
<button class="btn"><p >Aperte</p></button>
</div>

<div class="Produtos">
  <h1>Headset Gamer Havit</h1>
  <img src="https://images.kabum.com.br/produtos/fotos/102770/headset-gamer-havit-drivers-53mm-hv-h2002d_headset-gamer-havit-drivers-53mm-hv-h2002d_1564056874_g.jpg" alt="">
  <p class="f">Preço: R$ 249,99</p>
  <button class="btn"><p >Aperte</p></button>
</div>






  </div>

  </body>
</html>