<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<header>
  <nav>
    <div class="parte 1">
      <img src="https://th.bing.com/th/id/OIP.EE1ztuRpmeI1IUij3dwPfAHaDt?pid=ImgDet&rs=1.png" style="width: 125px;" class="logo"></img>
      <div class="links">
            <a  href="/">Principal -</a>
            <a  href="/prods" >Produto Destaque</a>
      </div>
    </div>
  </nav>
</header>
<div class="Produtos">
  <h1>Console Nintendo Switch Oled</h1>
  <img src= "https://images.kabum.com.br/produtos/fotos/385192/console-nintendo-switch-oled-com-joy-con-branco-hbgskaaa2_1663593573_g.jpg">
 
  <p class="f"> Preço: R$ 2.138,07</p>
  <div class="linha"></div>
  <p class="descricao">Conheça o mais novo 
    membro da família: O novo sistema apresenta 
    uma tela OLED vibrante de 7 polegadas, um amplo 
    suporte ajustável, um dock com uma porta LAN com fio, 
    64 GB de armazenamento interno e áudio aprimorado.
    
     </p>
  <button class="btn"> <a href="/"><p>Voltar aos Produtos</p></a></button>
</div>
</div>
</body>
</html>