<!DOCTYPE html>

<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <header>
    <nav>
      <div class="parte 1">
        <img src="https://th.bing.com/th/id/OIP.EE1ztuRpmeI1IUij3dwPfAHaDt?pid=ImgDet&rs=1.png" style="width: 125px;" class="logo"></img>
        <div class="links">
              <a  href="/">Principal -</a>
              <a  href="/prods" >Produto Destaque</a>
              
        </div>
      </div>
    </nav>
    
  </header>

  <div class="container">
    
    <div class="Produtos">
      <h1>Placa de Vídeo RX  </h1>
      <img src=" https://images.kabum.com.br/produtos/fotos/475438/placa-de-video-rx-6750-xt-mech-2x-12g-v1-radeon-12gb-gddr6-freesync-dual-fan_1689965385_g.jpg">
      <p class="f">Preço: R$ 2.149,99</p>
      <button class="btn"> <a href="/prod"><p>Saiba Mais</p></a></button>
    </div>
    
    <div class="Produtos">
      <h1>Placa Mãe Gigabyte B660M</h1>
      <img src="https://images.kabum.com.br/produtos/fotos/276321/placa-mae-gigabyte-b660m-aorus-pro-intel-lga-1700-matx-ddr4-m-2-nvme-b660m-aorus-pro-ddr4_1643917278_g.jpg" alt="">
      <p class="f">Preço: R$ 949,99 </p>
      <button class="btn"><a href="/prod1"><p>Saiba Mais</p></a></button>
    </div>
    
    
    <div class="Produtos">
      <h1>Gabinete Gamer Rise Mode </h1>
      <img src="https://images.kabum.com.br/produtos/fotos/320908/gabinete-gamer-rise-mode-galaxy-glass-lateral-em-vidro-temperado-preto-rm-ga-gg-fb_1657738212_g.jpg" alt="">
      <p class="f">Preço:R$ 649,99</p>
      <button class="btn"><a href="/prod2"><p>Saiba Mais</p></a></button>
    </div>
       
    <div class="Produtos">
      <h1>Monitor</h1>
      <img src="https://images.kabum.com.br/produtos/fotos/472908/monitor-gamer-lg-34-polegadas-curvo-led-wqhd-ultrawide-160hz-1ms-displayport-e-hdmi-amd-freesync-premium-hdr10-99-srgb-34gp63a-b_1689879423_g.jpg" alt="">
      <p class="f">Preço: R$ 2.099,99</p>
      <button class="btn"><a href="/prod3"><p>Saiba Mais</p></a></button>
      </div>
      
      <div class="Produtos">
        <h1>Mouse Gamer HyperX</h1>
      <img src="https://images.kabum.com.br/produtos/fotos/95566/95566_1522950995_index_g.jpg" alt="">
      <p class="f">Preço: R$ 109,99</p>
      <button class="btn"><a href="/prod4"><p>Saiba Mais</p></a></button>
      </div>
      
      <div class="Produtos">
        <h1>Headset Gamer Havit</h1>
        <img src="https://images.kabum.com.br/produtos/fotos/102770/headset-gamer-havit-drivers-53mm-hv-h2002d_headset-gamer-havit-drivers-53mm-hv-h2002d_1564056874_g.jpg" alt="">
        <p class="f">Preço: R$ 249,99</p>
        <button class="btn"><a href="/prod"><p>Saiba Mais</p></a></button>
      </div>

      <div class="Produtos">
        <h1>Cadeira Gamer Mymax MX7</h1>
        <img src="https://images.kabum.com.br/produtos/fotos/sync_mirakl/391058/Cadeira-Gamer-Mymax-MX7-At-150KG-Girat-ria-Preto-Gold-Edition_1695036496_g.jpg">
        <p class="f">Preço: R$ 628,08</p>
        <button class="btn"><a href="/prod"><p>Saiba Mais</p></a></button>
      </div>

      <div class="Produtos">
        <h1>Console Nintendo Switch Oled
        </h1>
        <img src="https://images.kabum.com.br/produtos/fotos/385192/console-nintendo-switch-oled-com-joy-con-branco-hbgskaaa2_1663593573_g.jpg">
        <p class="f">Preço: R$ 2.138,07</p>
        <button class="btn"><a href="/prod"><p>Saiba Mais</p></a></button>
      </div>

      <div class="Produtos">
        <h1>Microfone Gamer HyperX</h1>
        <img src="https://images.kabum.com.br/produtos/fotos/117767/microfone-gamer-hyperx-quadcast-s-led-usb-preto-e-vermelho-hmiq1s-xx-rg-g_1602169935_g.jpg">
        <p class="f">Preço: R$ 799,99</p>
        <button class="btn"><a href="/prod"><p>Saiba Mais</p></a></button>
      </div>

      <div class="Produtos">
        <h1>Mousepad Gamer HyperX </h1>
        <img src="https://images.kabum.com.br/produtos/fotos/98068/98068_1535054657_g.jpg">
        <p class="f">Preço: R$ 59,99</p>
        <button class="btn"><a href="/prod"><p>Saiba Mais</p></a></button>
      </div>


      <div class="Produtos">
        <h1>Teclado Gamer Hyperx</h1>
        <img src="https://images.kabum.com.br/produtos/fotos/sync_mirakl/205718/Teclado-Gamer-Hyperx-Alloy-Core-RGB-Membrana-Preto-HX-KB5ME2-BR_1697569132_g.jpg" >
              <p class="f">Preço: R$ 307,97</p>
        <button class="btn"><a href="/prod"><p>Saiba Mais</p></a></button>
      </div>





  

  </body>
</html>

 
    
