<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<header>
  <nav>
    <div class="parte 1">
      <img src="https://th.bing.com/th/id/OIP.EE1ztuRpmeI1IUij3dwPfAHaDt?pid=ImgDet&rs=1.png" style="width: 125px;" class="logo"></img>
      <div class="links">
            <a  href="/">Principal -</a>
            <a  href="/prods" >Produto Destaque</a>
      </div>
    </div>
  </nav>
</header>
<div class="Produtos">
  <h1>Cadeira Gamer Mymax MX7</h1>
  <img src= "https://images.kabum.com.br/produtos/fotos/sync_mirakl/391058/Cadeira-Gamer-Mymax-MX7-At-150KG-Girat-ria-Preto-Gold-Edition_1695036496_g.jpg">
 
  <p class="f"> Preço: R$ 628,08</p>
  <div class="linha"></div>
  <p class="descricao">A nova linha de Cadeira Gamer Mymax, são as mais iradas do mercado, a MX5 possui design ergonômico e revestimento em tecido sintético PU.

    Projetada para proporcionar conforto mesmo 
    após horas jogando. Esse conforto foi obtido 
    através do uso de espuma injetada de alta densidade 
    no encosto e assento, aliado a possibilidade de inclinar
     o encosto em até 180° e da função balanço.
    
     </p>
  <button class="btn"> <a href="/"><p>Voltar aos Produtos</p></a></button>
</div>
</div>
</body>
</html>