<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<img>
  <h1><%= message %></h1>
  <p>Produto Principal</p>
<div class="ww">
  <img src="monitor-gamer-aorus-31-5-ips-144-hz-4k-uhd-1ms-hdmi-displayport-usb-c-hdr-400-123-srgb-som-integrado-by-sabre-hi-fi-fi32u_1633187118_g.jpg">
  <h1>Monitor Gamer</h1>
  <p>Monitor Gamer Aorus 31.5 IPS, 144 Hz, 4K UHD, 1ms, HDMI/DisplayPort/USB-C, HDR 400, 123% sRGB, Som Integrado by SABRE Hi-Fi - FI32U
  </p>
</div>
</body>
</html>