<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<header>
  <nav>
    <div class="parte 1">
      <img src="https://th.bing.com/th/id/OIP.EE1ztuRpmeI1IUij3dwPfAHaDt?pid=ImgDet&rs=1.png" style="width: 125px;" class="logo"></img>
      <div class="links">
            <a  href="/">Principal -</a>
            <a  href="/prods" >Produto Destaque</a>
      </div>
    </div>
  </nav>
</header>
<div class="Produtos">
  <h1>Placa Mãe Gigabyte B660M </h1>
  <img src="https://images.kabum.com.br/produtos/fotos/276321/placa-mae-gigabyte-b660m-aorus-pro-intel-lga-1700-matx-ddr4-m-2-nvme-b660m-aorus-pro-ddr4_1643917278_g.jpg">
 
  <p class="f">Preço:R$ 949,99</p>
  <div class="linha"></div>
  <p class="descricao">
    Com a tecnologia se movendo tão rápido, a GIGABYTE ainda acompanha as últimas tendências e oferece aos nossos clientes recursos 
    avançados e tecnologia de ponta. As placas-mãe GIGABYTE Série B660 vêm 
    com solução de energia atualizada, padrões de armazenamento mais recentes e 
    conectividade excepcional para otimizar o desempenho para jogos.
    O desempenho sem aceleração das placas-mãe GIGABYTE Série B660 é garantido por um design 
    térmico inovador e otimizado para garantir a melhor estabilidade de CPU, chipset, SSD e baixas temperaturas sob carga total e jogos.
  As placas-mãe GIGABYTE Série B660 permitem que você experimente a máxima flexibilidade
   de conexão e velocidade de transferência de dados incrível com rede e armazenamento de última geração.</p>
  <button class="btn"> <a href="/"><p>Voltar aos Produtos</p></a></button>
</div>
</div>
</body>
</html>