<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<header>
  <nav>
    <div class="parte 1">
      <img src="https://th.bing.com/th/id/OIP.EE1ztuRpmeI1IUij3dwPfAHaDt?pid=ImgDet&rs=1.png" style="width: 125px;" class="logo"></img>
      <div class="links">
            <a  href="/">Principal -</a>
            <a  href="/prods" >Produto Destaque</a>
      </div>
    </div>
  </nav>
</header>
<div class="Produtos">
  <h1>Teclado Gamer Hyperx </h1>
  <img src="https://images.kabum.com.br/produtos/fotos/sync_mirakl/205718/Teclado-Gamer-Hyperx-Alloy-Core-RGB-Membrana-Preto-HX-KB5ME2-BR_1697569132_g.jpg">
 
  <p class="f"> Preço: R$ 307,97</p>
  <div class="linha"></div>
  <p class="descricao">Estrutura em alumínio durável
    Com uma estrutura de alumínio sólida, o Alloy MKW100 foi projetado para fornecer estabilidade quando os toques em teclas estiverem a todo vapor.
    O descanso para pulso removível ajuda a
     reduzir a fadiga de longas sessões de jogos ou de 
     trabalho.
    
    
    Switches à prova de poeira responsivos e confiáveis
    Com switches mecânicos à prova de poeira com classificação de até 50 milhões de toques, você usufruirá a confiabilidade duradoura e silenciosa do Alloy MKW100.
    O conector USB em metal dourado 
    impede a corrosão, enquanto a trança de tecido aumenta a longevidade do cabo para anos de uso confiável.
    Personalize o show de luz RGB do Alloy MKW100 
    com o poderoso software HyperX NGENUITY fácil de usar.

 
    
     </p>
  <button class="btn"> <a href="/"><p>Voltar aos Produtos</p></a></button>
</div>
</div>
</body>
</html>