body {
  padding: 0;
  margin: 0;
  background: #ffffff;
  background-color: rgb(94, 94, 94);
}

nav {
  background-color: #2f3236;
  display: block;
  max-height: 100px;
  box-shadow: 3px solid rgb(174, 173, 175);
}



.links {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  border: 3px solid #125ebb;
  background-color: #125ebb;
  box-shadow: 3px 5px rgb(174, 173, 175);
  background-color: #125ebb;
}


a {

  font-size: 25px;
  text-decoration: none;
  color: #ffffff;
}


h1 {
  text-align: center;
  color: rgb(0, 0, 0);
  
}

.maispro {
  background-color: rgb(94, 94, 94);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

/*.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espaçamento entre os containers 

}
*/

.container {
  background-color: rgb(94, 94, 94);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}






.Produtos {
  display: grid;
  border-style: inset;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  text-align: center;
  margin: 10px;
  width: 400px;
  text-align: center;
  flex-direction: column;
  border-radius: 20px;

  color: rgb(0, 0, 0);

}

.f {
  font-size: 25px;
  color: #b42a0f;

}


.ww {
  text-align: center;

}

p {

  font-size: 25px;
  color: #ffffff;
}

.btn {
  font-size: 25px;
  background-color: #01004f;
  border-radius: 250px;

}

.imagem {
border: #2f3236 1px solid;
  margin: auto;
  left: 50%;
}

.linha {

  width: 100%;
  height: 7px;
  background: #b1b1b1;
}


.rodape {
  color: #ffffff;
  background-color: #2f3236;
  padding: 45px;
  height: 50px;
  text-align: center;
}