body{
   background-color: rgb(255, 255, 255);
}

.grid{
   align-items: center;
}

.links{
    color: #f0f0f0;
}

a{
    font-size: 25px;
    text-decoration: none;
}


h1{
   text-align: center;
   color: rgb(0, 0, 0);
}

p{
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    border: 3px solid #125ebb;
    background-color:#125ebb;
    box-shadow: 3px 5px rgb(174, 173, 175);
}

.container{
    border-style: inset;
  padding: 15px 20px 15px;
  background-color: rgb(202, 202, 202);
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color: rgb(0, 0, 0);
}



.ww{
    text-align: center;
    
}