body{
   background-color: rgb(255, 255, 255);
}

h1{
   text-align: center;
   color: rgb(0, 0, 0);
}

p{
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    border: 3px solid #125ebb;
    background-color:#125ebb;
    box-shadow: 3px 5px rgb(174, 173, 175);
}

.btn, a {
    text-decoration: none;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.btn:hover{
    box-shadow: 0 0 55px  #07ce82;
}



.ww{
    text-align: center;
}